@media (max-width: 1850px) {
  .main-right {
    display: none;
  }

  .main-story-container {
    left: 50%;
    transform: translateX(-50%);
  }

  .feeds {
    left: 50%;
    transform: translateX(-50%);
  }

  .personal {
    margin-left: 0%;
  }

  .threedots-sub-menu {
    width: 50%;
  }

  .threedots-sub-menu.active {
    width: 40%;
  }
}

@media (max-width: 768px) {
  nav {
    height: 56px;
  }

  .main-logo {
    display: none;
  }

  .logo .text-logo {
    border-left: 0;
    margin-left: -8px;
  }

  .personal {
    margin-left: -22%;
  }

  .search input,
  .search:before,
  .search-id-result-container,
  .search-id-result-container.active{
    display: none;
  }

  .logo img {
    height: 125%;
  }

  .main-story-container,
  .feeds {
    width: 133vw;
    left: 250px;
  }

  .main-story-container {
    top: -2px;
  }

  article {
    margin-top: -4%;
    border-top: 0;
  }

  .comment-list {
    height: 40%;
    margin-top: 18px;
  }

  .add-comment {
    height: 45%;
  }

  .add-comment .add-comment-btn {
  }

  .threedots-sub-menu-background {
    width: 135vw;
    height: 135vh;
  }
}
